.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG.md
node_modules/**/.github/**
test/**
docs/PRD.md
docs/PRD_REVIEW.md
docs/CHANGES.md
TODO.md
*.vsix
.git/**
.github/**
